apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-backend
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi-backend
  template:
    metadata:
      labels:
        app: fastapi-backend
    spec:
      containers:
        - name: fastapi-backend
          image: IMAGE_PLACEHOLDER
          ports:
            - containerPort: 8000
