apiVersion: v1
kind: Service
metadata:
  name: fastapi-backend-service
  labels:
    app: fastapi-backend
spec:
  selector:
    app: fastapi-backend
  ports:
    - port: 8000
      targetPort: 8000
  type: NodePort
